<exams-filter (result)="this.subjects = $event"></exams-filter>

<table class="table table-striped text-center">
  <thead>
   <tr>
     <th>考试</th>
     <th>试卷</th>
     <th>标准答案</th>
     <th>优标答案</th>
     <th>FAQ答案</th>
     <th>班级答卷</th>
   </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let subject of subjects">
      <ng-container *ngIf="subject.GrSubDetails != undefined">
        <tr *ngFor="let grSubDetail of subject.GrSubDetails">
          <ng-container *ngIf="grSubDetail != undefined">
            <td>{{ subject.examName }}<br>({{ subject.gradeName }})</td>
            <td>{{ grSubDetail.subName }}</td>
            <td></td>
            <td>
                <span *ngFor="let question of grSubDetail.bestL, last as isLast"><a [routerLink]="['/answers', {egsId:grSubDetail.egsId, gradeId: subject.gradeId, subName: grSubDetail.subName, questionId: question.quesid, questionList: stringify(grSubDetail.bestL), type:'BEST'}]">{{question.quesno}}</a><span *ngIf="!isLast">,</span></span>
            </td>
            <td>
                <span *ngFor="let question of grSubDetail.faqL, last as isLast"><a [routerLink]="['/answers', {egsId:grSubDetail.egsId, gradeId: subject.gradeId, subName: grSubDetail.subName, questionId: question.quesid, questionList: stringify(grSubDetail.faqL), type:'FAQ'}]">{{question.quesno}}</a><span *ngIf="!isLast">,</span></span>
            </td>
            <td>
              <span *ngFor="let question of grSubDetail.quesL, last as isLast"><a [routerLink]="['/answers', {egsId:grSubDetail.egsId, gradeId: subject.gradeId, subName: grSubDetail.subName, questionId: question.quesid, questionList: stringify(grSubDetail.quesL), type:'class'}]">{{question.quesno}}</a><span *ngIf="!isLast">,</span></span>
              <span><a [routerLink]="['/answers', {egsId: grSubDetail.egsId, gradeId: subject.gradeId, subName: grSubDetail.subName, questionList: stringify(grSubDetail.quesL), viewAnswerPaper: true, type: 'class'}]">答题卡</a></span>
            </td>
          </ng-container>
        </tr>
      </ng-container>  
    </ng-container>
  </tbody>
</table>
