<div class="row">
  <div class="col-sm-12 col-lg-5">
  </div>
  <div class="col-sm-12 col-lg-7 text-right">
    <form method="post" class="form-inline" action="#">
      <div class="input-group">
        <span class="input-group-addon">年级</span>
        <select class="form-control" [(ngModel)]="selectedGrade" name="selectedGrade">
          <option *ngFor="let grade of selectedExam?.grades, let i = index" [ngValue]="grade">
            {{grade.grade_name}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">科目</span>
        <select class="form-control" [(ngModel)]="selectedSubject" name="selectedSubject">
          <option *ngFor="let subject of selectedExam?.subjects, let i = index" [ngValue]="subject">
            {{subject.name}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">班级</span>
        <select class="form-control">
        </select>
      </div>
      <div class="input-group">
        <a class="btn btn-default" title="查询" (click)="returnResult()">查询</a>
      </div>
    </form>
  </div>
</div>
