<div class="row">
  <div class="col-sm-12 col-lg-5">
  </div>
  <div class="col-sm-12 col-lg-7 text-right">
    <form method="post" class="form-inline" action="#">
      <div class="input-group">
        <span class="input-group-addon">学校</span>
        <select class="form-control" [(ngModel)]="selectedSchool" name="selectedSchool">
          <option *ngFor="let school of selectedExam?.schools, let i = index" [ngValue]="school">
            {{school.schoolName}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">年级</span>
        <select class="form-control" [(ngModel)]="selectedGrade" name="selectedGrade" (change)="onGradeChange()">
          <option *ngFor="let grade of selectedSchool?.GradeDetails, let i = index" [ngValue]="grade">
            {{grade.gradeName}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">科目</span>
        <select class="form-control" [(ngModel)]="selectedSubject" name="selectedSubject">
          <option *ngFor="let subject of selectedGradeSubs, let i = index" [ngValue]="subject">
            {{subject.name}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <span class="input-group-addon">班级</span>
        <select class="form-control" [(ngModel)]="selectedClass" name="selectedClass">
          <option *ngFor="let class of selectedGradeCls, let i = index" [ngValue]="class">
            {{class.name}}
          </option>
        </select>
      </div>
      <div class="input-group">
        <a class="btn btn-default" title="查询" (click)="returnResult()">查询</a>
      </div>
    </form>
  </div>
</div>
