<div class="col-sm-12">
  <div class="panel-heading">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <div id="selectExamForm" class="form-inline">
          <div class="input-group">
            <span class="input-group-addon">题目</span>
            <select class="form-control" (change)="onQuestionChange()" [(ngModel)]="selectedQuestion">
              <option *ngFor="let question of questionList" [ngValue]="question" [selected]="question.quesid==questionId">{{subName + '-' + question.quesno}}</option>
            </select>
          </div>
          <div class="input-group">
            <button class="btn" (click)="moveQuestion(-1)" [disabled]="selectedQuestion==questionList[0]">上一题</button>
            <button class="btn" (click)="moveQuestion(+1)" [disabled]="selectedQuestion==questionList[questionList.length-1]">下一题</button>
          </div>
          <div class="input-group" *ngIf="type=='class'">
            <input type="checkbox" [(ngModel)]="viewAnswerPaper">
            <span>查看答题卡</span>
          </div>
          <div class="input-group">
          </div>
          <div class="input-group">
            <span class="input-group-addon">班级</span>
            <select class="form-control" [(ngModel)]="selectedClassName">
              <option value="">全体班级</option>
              <option *ngFor="let class of grade?.classes" [ngValue]="class.className">{{class.className}}</option>
            </select>
          </div>
          <div class="input-group">
            <input class="form-control" type="text" [(ngModel)]="examCode">
          </div>
          <div class="input-group">
            <a class="btn btn-default" title="查询" (click)="returnResult()">查询</a>
          </div>
          <ng-container *ngIf="viewAnswerPaper === true && _sharedService.checkPerm('异常卷处理')">
            <div class="input-group">
              <a class="btn btn-warning" title="标记异常卷" (click)="setProblemPapers()">标记异常卷</a>
            </div>            
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
<hr/>
<div class="container-fluid">
  <ng-container *ngIf="viewAnswerPaper === false">
    <div *ngFor="let paper of papers; let i = index" class="col-sm-1">
      <img src="/assets/images/answer_67.png"  alt="点击查看" class="img-thumbnail" (click)="viewPaper(viewAnswerTemplate, paper)">
      <div>
        <span>{{paper.eeName}}</span>
        <br/>
        <span>({{paper.eeCode}})</span>
        <span>{{paper.score}}分</span>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="viewAnswerPaper === true">
    <div *ngFor="let paper of papers; let i = index" class="col-sm-1">
      <img src="/assets/images/paper_60.png"  alt="点击查看" class="img-thumbnail" (click)="viewPaper(viewAnswerTemplate, paper)">
      <div>
        <span>{{paper.eeName}}</span>
        <br/>
        <span>({{paper.eeCode}})</span>
        <span>{{paper.fscore}}分</span>
      </div>
      <div *ngIf="_sharedService.checkPerm('异常卷处理')">
          <div class="checkbox clear-margin-top">
              <label>
                  <input type="checkbox" name="problemCheckbox" [checked]="paper.hasProblem" (change)="paper.hasProblem = !paper.hasProblem"> 异常卷
              </label>
          </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #viewAnswerTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">答案</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngFor="let url of selectedImgUrls">
      <img [src]="url"  class="img-thumbnail">
    </div>
  </div>
</ng-template>
